body{
    background-color: rgb(70, 66, 66);
}

a{
    text-decoration: none;
    color: aliceblue;
    gap: 24px;
    font-size: 20px;
}

main{
    columns: 2;
}

nav{
    display: flex;
    gap: 20px;
}


img{
  width: 80%;
  padding: 15px;
}

nav, main {
    padding: 12px;
}