body{
    background-color: rgb(255, 255, 255);
    align-items: center;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;    
    display: flex;
    text-decoration: none;

}


a{
    color: rgb(24, 1, 1);
    padding: 10px;
    text-decoration: none;
}


main{
    columns: 2;
    
    justify-content: center;
}



#logo{
    width: 24px;
    height: 24px;
}

#profile{
    width: 24px;
    height: 24px;
}

#lupa{
    width: 20px;
    height: 20px;
}


#msg{
    width: 23px;
    height: 20px;
}

#search{
    border-radius: 14px;
    height: 30px;
    width: 40vw;
    background-color: rgb(243, 243, 243);
    border: none;
}


footer{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 20px;
}